*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 25px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #555;
}
nav ul li a i{
    color: black;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.header{
    background: radial-gradient(#fff, #ffd6d6);
    margin-bottom: 30px;
}
i{
    color: black;
    font-size: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
   flex-basis: 50%;
   min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 .btn-explore{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px; 
    margin: 30px 0;   
    text-decoration: none;
    transition: background 0.5s ease-in;
}
.col-2 .btn-explore:hover{
    background-color: #555;
}
.header .row{
    margin-top: 20px;
}
.categories{
    margin-top: 50px 0;
    display: flex;
    flex-wrap: wrap;
}
.categories h1{
    text-align: center;
    margin-bottom: 20px;
    color: #ff523b;
    line-height: 80px;
    font-size: 30px;
    position: relative;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3:hover{
    transform: scale(1.1);
}
.col-3 img{
     width: 100%;
}
.small-container{
     max-width: 1080px;
     padding-left: 25px;
     padding-right: 25px;
     margin: auto;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.col-4 h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform:translateY(-10px) ;
}
.offer{
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
} 
small{
    color: #555;
}
/* -----------------brand---------------- */
.brand{
    margin: 100px auto;
}
.col-5{
    flex-basis: 20%;
    min-width: 150px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* ----------------footer-------------- */
.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 2px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;    
    margin-bottom: 20px ;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
} 
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
text-align: center;
margin-bottom: 20px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* ---------------------Allproducts-------------------- */
.row-2{
    justify-content: space-between;
    margin: 40px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: red;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    transition: background 0.5s;
}
.page-btn span:hover{
    background-color: #ff523b;
}

/* ----------------mediaquery------------------- */

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: inline-block;
        cursor: pointer;
        
    }

}
@media only screen and (max-width: 700px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    }
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    }
/* --------------media query 400px---------------- */
@media only screen and (max-width: 400px){
.row{
    text-align: center;
}
.col-2, .col-3, .col-4{
    flex-basis: 100%;
}
}


@media only screen and (max-width: 200px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    }