*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 25px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #555;
}
nav ul li a i{
    color: black;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
i{
    color: black;
    font-size: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
   flex-basis: 50%;
   min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 .btn-explore{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px; 
    margin: 30px 0;   
    text-decoration: none;
    transition: background 0.5 ease-in;
}
.col-2 .btn-explore:hover{
    background-color: #555;
}
.header .row{
    margin-top: 20px;
}
